.u-mb-smst {
  margin-bottom: var(--mb-smst) !important;
}

.u-mb-sm {
  margin-bottom: var(--mb-sm) !important;
}

.u-mb-md-sm {
  margin-bottom: var(--mb-md-sm) !important;
}

.u-mb-md-lg {
  margin-bottom: var(--mb-md-lg) !important;
}

.u-mb-lg {
  margin-bottom: var(--mb-lg) !important;
}

.u-mb-lgst {
  margin-bottom: var(--mb-lgst) !important;
}

.u-hidden {
  display: none !important;
}
