.footer {
  &__nav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2.4rem;
    justify-items: center;
  }

  &__item {
    &:link,
    &:visited {
      text-decoration: none;
      display: block;
      padding: 1.6rem;
      font-family: $font-display;
      font-size: 1.2rem;
      line-height: 1.6;
      color: var(--color-primary-tint-09);
      text-transform: uppercase;
      text-align: center;
      transition: $transition-default;
    }

    &:hover,
    &:active {
      background-color: rgba(var(--color-primary-tint-09-rgb), 0.05);
      transform: translateY(-3px);
    }
  }

  &__copyright {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
    color: var(--color-grey-07);
  }
}
