%button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.6rem 3.2rem;
  background-color: var(--color-primary);
  font-family: $font-display;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-primary-shade-07);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: $transition-default;

  &:hover {
    background-color: var(--color-primary-shade-01);
  }
}

.button {
  @extend %button;

  &--link {
    &:link,
    &:visited {
      text-decoration: none;
      transition: $transition-default;
    }

    &:hover,
    &:active {
      background-color: var(--color-primary-shade-01);
    }
  }
}
